.different {
    position: relative;
    .different-container {
        &__description {
            // @include wide-container;
            text-align: center;
            padding: 0 3rem 3rem;
        }
        &__list {
            .list-heading-container {
                background-color: $Very-Pale-Red;
                .list-heading {
                    display: flex;
                    @include wide-container;
                    span {
                        background-color: $Bright-Red;
                        padding: .5em 1em;
                        border-radius: 2rem;
                        color: $Very-Pale-Red;
                    }
                    h3 {
                        padding: .5rem;
                        @include wide-container;
                    }
                }
            }
            p {
                @include wide-container;
                margin: 1rem auto 4rem;
            }
        }
    }
}


@media screen and (min-width: 53.125em) {
    .different::before {
        content: '';
        background: url(/assets/images/bg-tablet-pattern.svg) no-repeat;
        position: absolute;
        top: 18rem;
        left: -30rem;
        background-size: cover;
        height: 48rem;
        width: 48rem;
        z-index: -1;
    }
    .different-container {
        display: flex;
        @include wide-container;
        &__description {
            text-align: initial !important;
            width: 50%;
            padding: 0 !important;
            p {
                width: 70%;
            }
        }
        &__list {
            width: 50%;
            .list-heading-container {
                background-color: initial !important;
            }
        }
    }
}