.different {
    .different-container {
        &__description {
            // @include wide-container;
            text-align: center;
            padding: 0 3rem 3rem;
        }
        &__list {
            .list-heading-container {
                background-color: $Very-Pale-Red;
                .list-heading {
                    display: flex;
                    @include wide-container;
                    span {
                        background-color: $Bright-Red;
                        padding: .5em 1em;
                        border-radius: 2rem;
                        color: $Very-Pale-Red;
                    }
                    h3 {
                        padding: .5rem;
                        @include wide-container;
                    }
                }
            }
            p {
                @include wide-container;
                margin: 1rem auto 4rem;
            }
        }
    }
}


@media screen and (min-width: 53.125em) {
    .different-container {
        display: flex;
        @include wide-container;
        &__description {
            text-align: initial !important;
            width: 50%;
            padding: 0 !important;
            p {
                width: 70%;
            }
        }
        &__list {
            width: 50%;
            .list-heading-container {
                background-color: initial !important;
            }
        }
    }
}