footer {
    background-color: $Very-Dark-Blue;
    padding: 3rem 0;
    .footer-container {
        @include wide-container;
        display: flex;
        flex-direction: column-reverse;
        &__nav {
            margin: 3rem auto;
            .footer-nav {
                display: grid;
                grid-template-rows: repeat(4, 2.5rem);
                grid-template-columns: repeat(auto-fit, 11rem);
                grid-auto-flow: column;
                text-align: initial;
                align-items: center;
            }
        }
        &__social {
            display: flex;
            flex-direction: column-reverse;
            text-align: center;
            svg {
                margin: 0 auto 3rem;
            }
            .social-links {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                justify-items: center;
                margin-bottom: 3rem;
            }
            .copyright span:last-of-type {
                display: block;
            }
        }
        &__input .copyright {
            display: none;
        }
    }
}
@media screen and (min-width: 40.625em) {
    footer .footer-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1rem;
        &__nav {
            grid-row: 1/2;
            margin: 0;
            .footer-nav {
                align-items: flex-start;
            }
        }
        &__input {
            grid-row: 1/2;
            grid-column: 2/3;
        }
        &__social {
            grid-column: 1/3;
        }
    }
}

@media screen and (min-width: 53.125em) {
    footer .footer-container {
        grid-template-columns: repeat(3, 1fr);
        &__nav {
            grid-row: initial;
            .footer-nav {
                grid-template-rows: repeat(4, 2.5rem);
                grid-template-columns: repeat(2, 1fr);
            }
        }
        &__input {
            grid-row: initial;
            grid-column: initial;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .copyright {
                display: block;
            }
        }
        &__social {
            grid-column: initial;
            text-align: initial;
            flex-direction: column;
            justify-content: space-between;
            svg {
                margin: 0;
            }
            .copyright {
                display: none;
            }
            .social-links {
                margin: 0;
                display: flex;
                li {
                    margin-right: 1rem;
                }
            }
        }
    }
}