.hamburger {
    background: url(/assets/images/icon-hamburger.svg) no-repeat center;
    height: 2rem;
    width: 2rem;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.mobile-nav-bg {
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: inset 0 -120vh 300px -400px rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s;
    .mobile-nav-links {
        @include wide-container;
        background: white;
        padding: 2rem 0;
        text-align: center;
        position: relative;
        top: 0;
        border-radius: .4rem;
        transition: top .2s;
        li {
            margin-bottom: 2rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.open {
    .hamburger {
        background: url(/assets/images/icon-close.svg) no-repeat center;
    }
    .mobile-nav-bg {
        visibility: visible;
        opacity: 1;
        .mobile-nav-links {
            top: 7rem;
        }
    }
}