form {
    display: flex;
    align-items: flex-start;
    .input-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        input[name='email'] {
            border: none;
            padding: 1em 2em;
            font: inherit;
            border-radius: 2rem;
            margin-right: .5rem;
        }
        span {
            margin-top: .5rem;
            padding: 0 2rem;
            font-size: .9rem;
            font-style: italic;
        }
    }
    .invalid span {
        color: $Light-Red;
    }
    .valid span {
        color: $Green;
    }
    .email-submit {
        font-family: inherit;
    }
}