@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');

html {
    font-size: 14px;
}
body {
    font-family: 'Be Vietnam', sans-serif;
}
p {
    line-height: 2;
    color: $Dark-Grayish-Blue;
    margin: 1rem 0;
}
h1, h2, h3 {
    color: $Dark-Blue;
    font-weight: 700;
    line-height: 1.2;
}
h1 {
    font-size: 2.75rem;
}
h2 {
    font-size: 2rem;
}
.mobile-nav-links a {
    color: $Dark-Blue;
    font-weight: 700;
}
.cta-container h2 {
    color: $Vary-Light-Gray;
    font-size: 3rem;
    margin: 2rem 0;
}
.footer-container {
    a {
        color: $Vary-Light-Gray;
    }
    .social-links a {
        font-size: 2.5rem;
    }
    span {
        color: $Dark-Grayish-Blue;
    }
}
.desktop-nav a {
    color: $Dark-Blue;
    font-weight: 500;
}

@media screen and (min-width: 48em) {
    html {
        font-size: 16px;
    }
}
@media screen and (min-width: 53.125em) {
    h1 {
        font-size: 3.5rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    .footer-container .social-links a {
        font-size: 1.5rem;
    }
    .cta-container h2 {
        color: $Vary-Light-Gray;
        font-size: 2.5rem;
        margin: 2rem 0;
    }
}